[submodule "GraphQL-api"]
	path = GraphQL-api
	url = git@github.com:regulondbunam/GraphQL-api.git
	ignore = dirty

[submodule "RegulonDB-Browser"]
	path = RegulonDB-Browser
	url = git@github.com:regulondbunam/RegulonDB-Browser.git
	ignore = dirty

[submodule "RegulonDBHT-API"]
	path = RegulonDBHT-API
	url = https://github.com/regulondbunam/RegulonDBHT-API
	ignore = dirty
