[submodule "GraphQL-api"]
	path = GraphQL-api
	url = https://github.com/regulondbunam/GraphQL-api
	ignore = dirty

[submodule "RegulonDB-Browser"]
	path = RegulonDB-Browser
	url = https://github.com/regulondbunam/RegulonDB-Browser
	ignore = dirty

[submodule "RegulonDBHT-API"]
	path = RegulonDBHT-API
	url = https://github.com/regulondbunam/RegulonDBHT-API
	ignore = dirty

[submodule "regulonDB-wdpservice"]
	path = regulonDB-wdpservice
	url = https://github.com/galarcon-ccg/regulonDB-wdpservice
	branch = for_browser
	ignore = dirty
